<md-card class="md-whiteframe-1dp">
<div class="table-responsive-vertical">
  <md-toolbar class="md-padding">
    <div layout="column" layout-padding layout-align="center center" class="md-padding" style="padding-top:52px;">
      <img src="css/icons/icon.png" class="md-card-image" alt="image caption" style="width:130px;height:130px;">
      <div><h3>WEB ADMIN -  SISTEM INFROMASI WISATA KULINER DI KOTA BANDUNG</h3></div>
    </div>
  </md-toolbar>
  <div class="md-padding">
    <div layout="row" layout-padding layout-align="center" class="md-padding">
      <div layout="column" >
      </div>
    </div>

     <md-card-content>
          <form role="form" name="loginForm" class="md-padding">

              <md-input-container>
                <label>Username</label>
                <input name="username" ng-model="userdata.username" required/>
              </md-input-container>

     
              <md-input-container>
                <label>Password</label>
                <input type="password" name="password" ng-model="userdata.password" required />
              </md-input-container>

              <div layout="column" layout-align="center center">
                <md-button ng-if="!submit_loading" ng-disabled="loginForm.$invalid" ng-click="doLogin()" class="md-raised md-accent" flex="50">Login</md-button>
                <md-progress-circular ng-if="submit_loading" class="md-accent" md-mode="indeterminate" md-diameter="30px"></md-progress-circular>
              </div>
          </form>
      </md-card-content>
  </md-card>

