<md-card class="md-whiteframe-1dp">
<div class="table-responsive-vertical">
	<md-toolbar class="md-padding">
	  <div layout="column" layout-padding layout-align="center center" class="md-padding" style="padding-top:52px;">
	    <img src="css/icons/icon.png" class="md-card-image" alt="image caption" style="width:130px;height:130px;">
	    <div><h3>SISTEM INFORMASI GEOGRAFIS LOKASI WISATA KULINER DI KOTA BANDUNG</h3></div>
	  </div>
	</md-toolbar>
	<div class="md-padding">
	  <div layout="row" layout-padding layout-align="center" class="md-padding">
		  <div layout="column" >
		  </div>
	  </div>
	  <div layout="row" layout-align="center">
		  <div layout="column">
		    <p class="note" style="text-align:left;">Sebutan Paris Van Java yang melekat pada Bandung membuat kota yang juga berjuluk Kota Kembang ini selalu identik dengan wisata belanja dan menjadi salah satu sentrum mode utama di Indonesia. Tetapi, wisata kuliner di Bandung adalah juga salah satu hal yang sangat menarik saat berlibur di sana.
		    Bagi seorang penikmat perjalanan, berkeliling dari satu tempat wisata ke tempat lainnya adalah sebuah hal yang menyenangkan. Pengalaman tersebut menghadirkan pengetahuan akan ragam budaya daerah di Nusantara, termasuk pula sajian kuliner yang beraneka ragam.
		    Inilah keunikan Indonesia, negeri yang kaya akan pesona wisata. Di Bandung, sungguh sayang bila Anda melewatkan pengalaman kulinernya. Terdapat sejumlah lokasi wisata kuliner Bandung yang terkenal, masing-masing menawarkan hidangan yang unik dan lezat.</p>
		  </div>
	  </div>
	</div>
</div>
</md-card>
